@font-face {
	font-family: 'NeSkid';
	src: url('font/neskid_comica_bd_id120055769.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('font/neskid_comica_bd_id120055769.woff2') format('woff2'), /* Super Modern Browsers */
		url('font/neskid_comica_bd_id120055769.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('font/neskid_comica_bd_id120055769.ttf') format('truetype'), /* Safari, Android, iOS */
		url('font/neskid_comica_bd_id120055769.svg#neskid_comica_bd_id120055769') format('svg'); /* Chrome < 4, Legacy iOS */
}


body{
  font-family:'NeSkid';
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  letter-spacing: 2px;
}

.main{
  position: relative;
}

.field{
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  width: 15vw;
  min-width: 150px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0 1vw 2vw;
  cursor: pointer;

}

.card-img{
  width: 100%;
  height: 70%;

}

.menu{
position: absolute;
top: 0;
left: 10px;
background-color: blanchedalmond;
}

.menu__item{
  cursor: pointer;
  padding: 10px;
}

.menu__item:hover{
  color:red;
}

.menu__item--selected{
  background-color: cadetblue;
}
