@font-face {
  font-family: 'NeSkid';
  src: url('font/neskid_comica_bd_id120055769.eot?#iefix') format('embedded-opentype'),
    url('font/neskid_comica_bd_id120055769.woff2') format('woff2'),
    url('font/neskid_comica_bd_id120055769.woff') format('woff'),
    url('font/neskid_comica_bd_id120055769.ttf') format('truetype'),
    url('font/neskid_comica_bd_id120055769.svg#neskid_comica_bd_id120055769') format('svg');
}

:root {
  --bg-color: #b3e6fd;
  --hover-color: #03a9f4;
  --select-color: #74cef8;
}


body {
  font-family: 'NeSkid';
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  display: block;
}

.main {
  position: relative;
}

.field {
  width: 70vw;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-burger {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  outline: none;
  right: -50px;
  top: 0px;
}

.is-active .btn-burger {
  right: 0;
  transition-duration: 0.5s, 0.5s;
}

.btn-burger-line {
  position: absolute;
  width: 40px;
  height: 5px;
  display: block;
  background-color: black;
}

.btn-burger:hover .btn-burger-line,
.btn-burger:hover .btn-burger-line::after,
.btn-burger:hover .btn-burger-line::before {
  background-color: var(--hover-color);
}


.btn-burger-line:after {
  position: absolute;
  bottom: 10px;
  content: '';
  width: 40px;
  height: 5px;
  display: block;
  background-color: black;
}

.btn-burger-line:before {
  position: absolute;
  top: 10px;
  content: '';
  width: 40px;
  height: 5px;
  display: block;
  background-color: black;
}


.btn-burger-line:after,
.btn-burger-line:before {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}

.btn-burger-line:after {
  transition-property: top, transform;
}

.btn-burger-line:before {
  transition-property: bottom, transform;
}

.is-active .btn-burger-line {
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}


.is-active .btn-burger-line::before {
  top: 0;
  transform: rotate(90deg);
  transition-delay: 0s, 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.is-active .btn-burger-line::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition-delay: 0s, 0.3s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}


.card {
  position: relative;
  width: 200px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0 0 2vw;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
}

@media (max-width: 600px) {
  .card {
    width: 150px;
  }

  .card span {
    font-size: 14px;
    text-align: center;
  }

  .field {
    width: 90vw;
  }

}

.card:hover {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0;
}

.card-img {
  width: 100%;
  margin-bottom: 5px;
}

.header {
  background-color: var(--bg-color);
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.transLayer {
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.menu {
  box-sizing: border-box;
  display: block;
  position: fixed;
  padding: 50px;
  margin-left: -150px;
  width: 200px;
  top: 60px;
  left: 0px;
  bottom: 0;
  z-index: 2;
  transition: margin-left ease 1s;
  -webkit-transition: margin-left ease 1s;
  -moz-transition: margin-left ease 1s;
  -ms-transition: margin-left ease 1s;
  -o-transition: margin-left ease 1s;
  background-color: var(--bg-color);
  font-size: 14px;
}

@media (max-width: 600px) {
  .menu {
    margin-left: -180px;
  }
}

.menu-active {
  margin-left: 0;
}

.menu__item {
  width: 80px;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.menu__item:hover {
  color: var(--hover-color);
}

.menu__item--selected {
  background-color: var(--select-color);
}

.mode {
  position: fixed;
  top: 90px;
  right: 50px;
  z-index: 2;
}

@media (max-width: 600px) {
  .mode {
    right: 30px;
  }
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mode__btn{
  position: relative;
  top: 50%;
  width: 80px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #b3e6fd;
  transition: 0.3s ease all;
  z-index: 1;
}

.mode__btn {
  overflow: visible;
}

.mode__btn .knobs {
  perspective: 70px;
}

.mode__btn .knobs:before,
.mode__btn .knobs:after,
.mode__btn .knobs span {
  position: absolute;
  top: 4px;
  border-radius: 2px;
}

.mode__btn .knobs:before,
.mode__btn .knobs:after {
  width: 20px;
  height: 10px;
  color: #4e4e4e;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
}

.mode__btn .knobs:before {
  content: 'train';
  left: 4px;
}

.mode__btn .knobs:after {
  content: 'play';
  right: 4px;
}

.mode__btn .knobs span {
  right: 4px;
  width: 35px;
  height: 28px;
  background-color: #03a9f4;
  transform: rotateY(0);
  transform-origin: 0% 50%;
  transition: 0.6s ease all;
  z-index: 1;
}

.mode__btn .checkbox:checked+.knobs span {
  transform: rotateY(-180deg);
  background-color: var(--select-color)
}

.mode__btn .checkbox:checked~.layer {
  background-color: var(--bg-color)
}

.btn-changeling {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  color: transparent;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.btn-changeling:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.ruWord {
  font-size: 25px;
  display: block;
  text-align: center;
}

.enWord {
  font-size: 25px;
  display: block;
  text-align: center;
}

.flip-container {
  perspective: 1000;
  position: relative;
  margin-bottom: 20px;
}

.flip-container-disabled {
  pointer-events: none;
}

.flip-container.active .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 200px;
  height: 250px;

}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper span {
  font-size: 20px;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  z-index: 2;
}

.back {
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  transform: rotateY(180deg);
}

.front:hover,
.back:hover {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0;
}


.flipper--play .back {
  display: none;
}

.flipper--play .enWord {
  display: none;
}

.flipper--play .btn-changeling {
  display: none;
}


.flipper--play .front img {
  margin-top: 25px;
}

.front .enWord {
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
}

.ruWord {
  padding-top: 5px;
}

.btn-repiat {
  width: 100px;
  height: 50px;
  align-self: center;
  cursor: pointer;
}

.game-panel {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  width: 100%;
  max-width: 100%;
}

.btn-play {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  color: transparent;
  background-image: url('../assets/img/play.svg');
  background-size: 80%;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.btn-play:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.left-side {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  max-width: calc(50%-25px);
  overflow: hidden;
  align-items: center;
}

.right-side {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  max-width: calc(50%-25px);
  overflow: hidden;
  align-items: center;
}

.achieve {
  display: block;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background-size: contain;
}

@media (max-width: 900px) {
  .achieve {
    width: 35px;
    height: 35px;
  }
}

.popup-win {
  display: block;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-title {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.popup-title span {
  font-size: 80px;
}

.popup-lose {
  display: block;
  width: 350px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: yellow;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 50px;
}

.lose-info {
  display: block;
  font-style: 30px;
  text-align: center;
}


.score__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard {
  width: 100%;
}

.dashboard__title,
.dashboard__line {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.dashboard__title button {
  font-family: 'NeSkid';
  background-color: var(--hover-color);
  border: 1px solid var(--select-color);
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  outline: none;
}

.dashboard__title button:hover {
  background-color: var(--select-color);
}

.dashboard__title button:active {
  color: var(--hover-color);
}

.dashboard__title button:focus {
  background-color: var(--select-color);
  color: black;
}

.dashboard__category {
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
}

.dashboard__en-word {
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
}

.dashboard__ru-word {
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
}

.dashboard__translation {
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
}

.dashboard__train {
  width: 70px;
  text-align: center;
  box-sizing: border-box;
}

.dashboard__right {
  width: 70px;
  text-align: center;
  box-sizing: border-box;
}

.dashboard__mistake {
  width: 70px;
  text-align: center;
  box-sizing: border-box;
}

.dashboard__precent {
  width: 70px;
  text-align: center;
  box-sizing: border-box;
}

.dashboard__line {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard__line:hover {
  background-color: var(--select-color);
}

.score__btns {
  margin-bottom: 10px;
}

.score__train,
.score__reset {
  font-family: 'NeSkid';
  background-color: var(--hover-color);
  border: 1px solid var(--select-color);
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  outline: none;
}

.score__train:hover,
.score__reset:hover {
  background-color: var(--select-color);
}


.score__train:focus,
.score__reset:focus {
  background-color: var(--select-color);
  color: black;
}

.btn-play {
  font-family: 'NeSkid';
  background-color: var(--select-color);
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


@media (max-width: 900px) {
  .dashboard__title button {
    font-size: 10px;
  }

  .dashboard {
    font-size: 12px;
  }

  .field {
    width: 80vw;
  }
}

@media (max-width: 600px) {

  .dashboard__category,
  .dashboard__ru-word,
  .dashboard__translation,
  .dashboard__en-word {
    min-width: 65px;
  }

  .dashboard {
    font-size: 8px;
  }

  .dashboard__title button {
    font-size: 8px;
  }

  .dashboard__train,
  .dashboard__right,
  .dashboard__mistake,
  .dashboard__precent {
    width: 25px;
  }

  .dashboard__title .dashboard__train,
  .dashboard__title .dashboard__right,
  .dashboard__title .dashboard__mistake,
  .dashboard__title .dashboard__precent {
    font-size: 0;
    position: relative;

  }

  .dashboard__title .dashboard__precent::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../assets/img/percent.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 4px;
    top: 3px;
  }

  .dashboard__title .dashboard__train::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../assets/img/gym.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 10px;
    left: 4px;
    top: 5px;
  }

  .dashboard__title .dashboard__right::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../assets/img/right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 4px;
    top: 3px;
  }

  .dashboard__title .dashboard__mistake::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../assets/img/wrong.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 4px;
    top: 3px;
  }




}

@media (max-width: 400px) {
  .dashboard__category {
    display: none;
  }

  .dashboard__ru-word,
  .dashboard__translation,
  .dashboard__en-word {
    min-width: 65px;
  }
