@font-face {
  font-family: 'NeSkid';
  src: url('font/neskid_comica_bd_id120055769.eot?#iefix') format('embedded-opentype'),
    url('font/neskid_comica_bd_id120055769.woff2') format('woff2'),
    url('font/neskid_comica_bd_id120055769.woff') format('woff'),
    url('font/neskid_comica_bd_id120055769.ttf') format('truetype'),
    url('font/neskid_comica_bd_id120055769.svg#neskid_comica_bd_id120055769') format('svg');
}

:root {
  --bg-color: #ebf7fc;
  --hover-color: #03a9f4;
  --select-color:  #74cef8;
}


body {
  font-family: 'NeSkid';
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  display: block;
}

.main {
  position: relative;
}

.field {
  width: 70vw;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-burger {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  outline: none;
  right: -50px;
  top: 0px;
 }

.is-active .btn-burger{
  right: 0;
  transition-duration: 0.5s , 0.5s;
}

.btn-burger-line {
  position: absolute;
  width: 40px;
  height: 5px;
  display: block;
  background-color: black;
}

.btn-burger:hover .btn-burger-line,
.btn-burger:hover .btn-burger-line::after,
.btn-burger:hover .btn-burger-line::before {
  background-color: var(--hover-color);
}


.btn-burger-line:after {
  position: absolute;
  bottom: 10px;
  content: '';
  width: 40px;
  height: 5px;
  display: block;
  background-color: black;
}

.btn-burger-line:before {
  position: absolute;
  top: 10px;
  content: '';
  width: 40px;
  height: 5px;
  display: block;
  background-color: black;
}


.btn-burger-line:after,
.btn-burger-line:before {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}

.btn-burger-line:after {
  transition-property: top, transform;
}

.btn-burger-line:before {
  transition-property: bottom, transform;
}

.is-active .btn-burger-line {
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}


.is-active .btn-burger-line::before {
  top: 0;
  transform: rotate(90deg);
  transition-delay: 0s, 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.is-active .btn-burger-line::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition-delay: 0s, 0.3s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}


.card {
  position: relative;
  width: 15vw;
  min-width: 150px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0 1vw 2vw;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
}

.card:hover {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0;
}

.card-img {
  width: 100%;
  margin-bottom: 5px;
}

.header {
  padding: 50px 50px 10px;
  background-color: var(--bg-color);
}

.transLayer{
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.menu {
  box-sizing: border-box;
  display: block;
  position: fixed;
  padding: 50px;
  margin-left: -150px;
  width: 200px;
  top: 60px;
  left: 0px;
  bottom: 0;
  z-index: 2;
  transition: margin-left ease 1s;
  -webkit-transition: margin-left ease 1s;
  -moz-transition: margin-left ease 1s;
  -ms-transition: margin-left ease 1s;
  -o-transition: margin-left ease 1s;
  background-color: var(--bg-color);
}

.menu-active {
  margin-left: 0;
}

.menu__item {
  width: 80px;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.menu__item:hover {
  color: var(--hover-color);
}

.menu__item--selected {
  background-color: var(--select-color);
}

.mode{
  position: fixed;
  top: 90px;
  right: 50px;
  z-index:2;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 80px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-11 {
  overflow: visible;
}

#button-11 .knobs {
  perspective: 70px;
}

#button-11 .knobs:before,
#button-11 .knobs:after,
#button-11 .knobs span {
  position: absolute;
  top: 4px;
  border-radius: 2px;
}

#button-11 .knobs:before,
#button-11 .knobs:after {
  width: 20px;
  height: 10px;
  color: #4e4e4e;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
}

#button-11 .knobs:before {
  content: 'train';
  left: 4px;
}

#button-11 .knobs:after {
  content: 'play';
  right: 4px;
}

#button-11 .knobs span {
  right: 4px;
  width: 35px;
  height: 28px;
  background-color: #03a9f4;
  transform: rotateY(0);
  transform-origin: 0% 50%;
  transition: 0.6s ease all;
  z-index: 1;
}

#button-11 .checkbox:checked+.knobs span {
  transform: rotateY(-180deg);
  background-color: var(--select-color)
}

#button-11 .checkbox:checked~.layer {
  background-color: var(--bg-color)
}

.btn-changeling {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  color: transparent;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url(../assets/img/reload.svg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.btn-changeling:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.ruWord {
  font-size: 25px;
  display: block;
  text-align: center;
}

.enWord {
  font-size: 25px;
  display: block;
  text-align: center;
}

.flip-container {
  perspective: 1000;
  position: relative;
  margin-bottom: 20px;
}

.flip-container.active .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 250px;
  height: 300px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  z-index: 2;
}

.back {
  border: 1px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  transform: rotateY(180deg);
}

.front:hover,
.back:hover {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0;
}


.flipper--play .back{
  display: none;
}

.flipper--play .enWord{
  display: none;
}

.flipper--play .btn-changeling{
  display: none;
}

.flipper--play,
.flipper--play .front{
  height: 250px;
}

.btn-repiat{
  width: 100px;
  height: 50px;
  align-self: center;
  cursor: pointer;
}

.game-panel{
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  width: 100%;
  max-width: 100%;
}

.btn-play{
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.left-side{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  max-width: calc(50%-25px);
  overflow: hidden;
}

.right-side{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  max-width: calc(50%-25px);
  overflow: hidden;
}

.achieve{
  display: block;
  width: 50px;
  height: 50px;
  flex-shrink: 0
}

.popup-win{
  display: block;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: yellow;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.popup-title{
  text-align: center;
}

.popup-win span{
  font-size: 30px;
}

.popup-lose{
  display: block;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: yellow;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em gray;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
